h1 {
    text-align: center;
}

.search-bar {
    margin:0;
    padding: 0;
}

.search-bar{
    position: fixed;
    display: inline-block;
    width: 95%;
    max-width: 344px;
    height: 48px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

input{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

ul#wrapper{
    list-style: none;
    display: inline-block;
    margin-top: 100px;
}

li {
    width: 200px;
    height: 100px;
    background: #ddd;
    float: left;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    text-align: center;
}

a{
    font-size: 24px;
    color: black;
    line-height: 100px;
    font-family: monospace;
    text-decoration: none;
}