#username-error, #password-error, #email-error {
    color: red;
    font-size: 15px;

    visibility: hidden;
}

#username, #password, #email {
    padding: 5px;
    width: 95%;
}

button {
    color: white;
    background: black;

    width: 130px;

    padding: 10px;
    border-radius: 5px;
    border-color: black;
}

#signupDiv, #loginDiv {
    margin: auto;

    width: 350px;
    height: 350px;

    padding: 15px;

    border: solid black 3px;

    background-color: lightgrey;
}

#signupDiv div, #loginDiv div {
    font-weight: bold;
}

#signupDiv a, #loginDiv a {
    text-align: center;
}

#subscriptions {
    display: inline-block;
    background-color: lightgray;
    border: solid black 3px;

    padding: 15px;

    vertical-align: middle;
    line-height: 1.5em;
}

#subscriptions div {
    width: 350px;
    padding: 5px;
}

#fee100 {
    display: inline-block;
}

label {
    white-space: nowrap;
}

.label-wrapper {
    white-space: normal;
}