/* FULL PAGE CSS */

#container {
    width:950px;
    background-color: #fff;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLE */

header {
    width: 100%;
    height: 115px;
    background-color: #0a2463;
    margin: 0;
    color: #ffffff;
}

header h1 {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    margin-left: 20px;
}

/* SIGNUP DIV STYLING */

#signupDiv {
    height: 400px;
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;

    box-shadow: 0 30px 40px rgba(0,0,0,.3);
    
}

.sign-form-wrapper {
    height: 80%;
    width:100%;
    background-color: white;
}

.sign-form-wrapper h4 {

    position: relative;
    top: 30px;

    text-align: center;
}

.sign-form-wrapper form input {
    position: relative;
    left: 30px;
    top: 35px;
    margin-bottom: 10px;

    height: 35px;
    width: 85%;
    border: none;

    text-align: center;

    background-color: #F8F8F8;
    border: 3px solid #F0F0F0;
    border-radius: 15px;
}

.sign-form-wrapper button {
    position: relative;
    top: 60px;
    left: 170px;

    background-color: #247BA0;
    border: 3px solid white;
    border-radius: 15px;

    color: white;
    font-size: 18px;

    padding: 10px 20px;
}

/* log in link style */

#log-link-div {
    position: relative;
    top: 90px;

    height: 20%;
    width:100%;
    background-color: #e2e2e2;
}

#log-link-div a {
    color: #B0B0B0;
    top: 20px;
    position: relative;
    left: 110px;
}

/* SUBSCRIPTIONS STYLING */

#subscriptions {
    height: 530px;
    width: 450px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;

    box-shadow: 0 30px 40px rgba(0,0,0,.3);
    
}

#subscribe-wrapper {
    position: relative;
    top: 20px;

    margin: 20px;
    text-align: center;
}

#subscribe-wrapper input {
    width: 100%;
    margin-top: 10px;
    text-emphasis: bold;
}

h5 {
    text-emphasis: bold;

    background-color: #FB3640;
    border: 3px solid white;
    border-radius: 15px;

    color: white;
    font-size: 18px;

    padding: 10px 20px;
}