/* Grouping Style */

.scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	width: 800px;
	margin: 0 auto;

	position: relative;
	top: 150px;
}

.card {
    display: inline-block;
}

/* Search Bar Style */

h1 {
    text-align: center;
}

.search-bar {
    margin: 0;
    padding: 0;
}

.search-bar{
    z-index: 9999;
    position: absolute;
    right: 15px;
    width: 95%;
    max-width: 344px;
    height: 48px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

input{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

ul#wrapper{
	list-style: none;
	position: inherit;
}

a{
    font-size: 24px;
    color: black;
    line-height: 100px;
    font-family: monospace;
    text-decoration: none;
}


