/* Table Styling */
table {
    margin:4px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

/* Page Layout */
body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1{
    font-size: 40px;
}

.intro_box{
    margin-top: 50px;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    margin-bottom: 120px;
}

.members_box{
    margin-top: 50px;
    border-left-style: solid;
    border-color: rgb(226, 224, 224);
    padding: 20px;
    text-align: center;
    margin-bottom: 60px;
}