/* FULL PAGE CSS */

#container {
    width:950px;
    background-color: #605f5e;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* header css */

header {
    width: 100%;
    height: 115px;
    background-color: #0a2463;
    margin: 0;
    color: #ffffff;
}

header h1 {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    margin-left: 20px;
}

header h2 {
    display: inline;
    float: right;
    line-height: 100px;
}

.search-bar {
    margin: 0;
    padding: 0;
}

.search-bar{
    z-index: 9999;
    float: right;
    position: relative;
    top: 30px;
    RIGHT: 30px;
    width: 95%;
    max-width: 344px;
    height: 48px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

input{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

/* INTRODUCTION CSS */

#introduction {
    height: 300px;
    width: 100%;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

#intro-image-wrapper {
    width: 400px;
    height: 200px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

#intro-blurb {
    width: 450px;
    height: 200px;   
    float: right;
    margin-right: 20px;
}

#intro-blurb h3 {
    display: block;
    padding: 20px;
    margin: 0 auto;
}

#intro-blurb p {
    background-color: e2e2e2;
    padding: 10px;
}

#intro-blurb button {
    background-color: #FB3640;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* FEATURE CSS */

#feature-section {
    height: 300px;
    width: 100%;
    background-color: #fff; 
    
}

#feature-wrapper {
    background-color: #e2e2e2;
    height: 400px;
    width: 900px;
    margin: 0 auto;
    border: 5px solid #247ba0;
}

#feature-wrapper img {
    display: block;
    width: 100px;
    margin: 0 auto;
    padding-top: 20px;
}

#feature-wrapper h2 {
    text-align: center;
}

#feature-wrapper p {
    
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

/* PRICES OPTIONS */

#table-wrapper {
    height: 270px;
    background-color: #fff;
}

.class-table {
    display: block;
    height: 220px;
    width: 35%;

    background-color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.class-table h4 {
    background-color: #0a2463;
    color: #e2e2e2;
    padding: 7px;
    text-align: center;
}

.class-table ul {
    list-style-type: none;
}

.class-table ul li {  
    margin-left: 40px;
    padding: 5px;
}

.end-item {
    margin-bottom: 20px;
}

.monthly {
    float: left;
    margin-left: 50px;
}

.yearly {
    float: right;
    margin-right: 50px;
}

/* SIGN UP BUTTON */
.button-div {
    margin-top: 270px;
    height: 120px;
    background-color: aqua;
}

#button-div button {
    margin: 0 auto;
    background-color: #FB3640; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button-div a {
    text-decoration: none;
    color: white;
}