/* Ratings Styling */
.ratings_btn {
    color: gray;
    background: white;
    padding: 3px;
    padding-top: 6px;
    width: auto;
    border-radius: 5px;
    border-color: black;
}
.ratings_btn a{
    line-height: 0px;
}

.ratings_text{
    font-size: 16px;
    color: black;
}

.ratings_text a{
    font-size: 18px;
}

.current_rating p{
    width: 90px;
}

.ratings_btns{
    padding-left: 40px;
}

.current_rating p, .ratings_btns{
    display: inline;
}

/* change to video */
.current_video video{
    width: 1252px;
    height: 704px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.current_video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

 .current_rating{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.stats_link{
    font-size: 12px;
    padding-right: 60px;
    float: right;
    line-height: 18px;
    color: #fb3640;
}
