/*  SIGNUP ATYLE */
#container {
    width:950px;
    background-color: #fff;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER STYLE */
header {
    width: 100%;
    height: 115px;
    background-color: #0a2463;
    margin: 0;
    color: #ffffff;
}

header h1 {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 100px;
    margin-left: 20px;
}

/* ERROR STYLING */
#username-error, #password-error, #email-error {
    color: red;
    font-size: 15px;

    visibility: hidden;
}

.form-wrapper button {
    position: relative;
    top: 60px;
    left: 12%;

    background-color: #247BA0;
    border: 3px solid white;
    border-radius: 15px;

    color: white;
    font-size: 18px;

    padding: 10px 20px;
}

#signupDiv {
    height: 450px;
    width: 450px;
    margin: 0 auto;
    margin-top: 80px;

    box-shadow: 0 30px 40px rgba(0,0,0,.3);
}

#subscriptions_box{
    height: 300px;
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 30px 40px rgba(0,0,0,.3);
}

#subscriptions_box span{
    font-size: 14px;
}

.form-wrapper, #subscriptions {
    height: 80%;
    width:100%;
    background-color: white;
}

.form-wrapper h4 {
    position: relative;
    top: 30px;

    text-align: center;
}

.form-wrapper input {
    position: relative;
    left: 30px;
    top: 35px;

    height: 35px;
    width: 85%;
    border: none;

    text-align: center;

    background-color: #F8F8F8;
    border: 3px solid #F0F0F0;
    border-radius: 15px;
}


#signupDiv div {
    font-weight: bold;
}

#signupDiv a {
    text-align: center;
}



/* Login & Signup Style */

input {
    padding: 5px;
    width: 95%;
}



/* SIGN UP LINK STYLING */

#login-link-wrapper {
    height:20%;
    width:100%;
    background-color: #e2e2e2;
}

#login-link-wrapper a {
    color: #B0B0B0;
}
